# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Java
*.class
*.jar
*.war
*.ear
*.log

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Mahala specific
data/
logs/
wallets/
*.db
*.mv.db
*.trace.db